body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.login{
    width: 300px;
    margin:100px auto;
    padding: 25px;
    background-color: blue;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;

}

h1{
    text-align: center;
}
label{
    display: block;

}
label{
    display: block;
    margin-top:15px;
}
input{
    width: 100%;
    padding: 8px;
    margin-top:5px;
}
